body {
  display: inline-block;
  margin: 0;
  background-color: hsl(228, 56%, 26%);
}

:not(svg) {
    transform-origin: 0px 0px;
}

.backimg {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.main {
  text-align: left;
  display: inline-block;
  width: 50%;
  height: 25%;
  position: absolute;
  bottom: 30%;
  left: 20%;
}

.images {
  margin-right: 15px;
  width: 50%;
  height: 80%;
  display: inline-block;
  border-style: hidden;
  background-color: hsl(228, 56%, 46%);
  border-radius: 5%;
  border-top-right-radius: 35%;
}

.icons {
  text-align: center;
}

.fylo {
  padding: 20px 40px 20px 20px;
  display: inline-block;
}

.dicon {
  border-style: solid;
  background-color: hsl(228, 56%, 36%);
  border-color: hsl(228, 56%, 36%);
  border-width: 8px 10px 8px 10px;
  border-radius: 15%;
  margin: 10px 5px 10px 10px;
  display: inline-block;
  position: relative;


}

.ficon {
  border-style: solid;
  background-color: hsl(228, 56%, 36%);
  border-color: hsl(228, 56%, 36%);
  border-width: 8px 10px 8px 10px;
  border-radius: 15%;
  margin: 10px 5px 10px 10px;
  display: inline-block;
  position: relative;

}

.cicon {
  border-style: solid;
  background-color: hsl(228, 56%, 36%);
  border-color: hsl(228, 56%, 36%);
  border-width: 8px 10px 8px 10px;
  border-radius: 15%;
  margin: 10px 5px 10px 10px;
  display: inline-block;

}

/*****************************************************************************************************************************************************/
.datablock {
  margin: 0;
  text-align: center;
  margin-left: 15px;
  width: 75%;
  height: 80%;
  display: inline-block;
  position: absolute;
  border-style: hidden;
  background-color: hsl(228, 56%, 46%);
  border-radius: 6%;
}

.data {
  text-align: center;
  padding: 10% 5%;
}
